# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Docs (local only)
docs/

# claude superpowers sills
.superpowers/

# Project config (may contain API keys)
config.json
.env

# Backend venv（独立 Python 环境）
backend/.venv/
backend/.env

# Frontend
web-user/node_modules/
web-user/dist/
web-user/.env

web-admin/node_modules/
web-admin/dist/
web-admin/.env
